<p id="notice"><%= notice %></p>

<p>
  <strong>Nro remit:</strong>
  <%= @drawer_conteiner_income.nro_remit %>
</p>

<%= link_to 'Edit', edit_drawer_conteiner_income_path(@drawer_conteiner_income) %> |
<%= link_to 'Back', drawer_conteiner_incomes_path %>
