<p id="notice"><%= notice %></p>

<p>
  <strong>Nro remit:</strong>
  <%= @barrels_income.nro_remit %>
</p>

<%= link_to 'Edit', edit_barrels_income_path(@barrels_income) %> |
<%= link_to 'Back', barrels_incomes_path %>
