<p id="notice"><%= notice %></p>

<p>
  <strong>Drawers:</strong>
  <%= @drawer_container.drawers %>
</p>

<%= link_to 'Edit', edit_drawer_container_path(@drawer_container) %> |
<%= link_to 'Back', drawer_containers_path %>
